body {
 background-color: black;
}

.Background-img {
  width: -webkit-fill-available;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  position: fixed;
  opacity: 0.3;
  /* Add the blur effect */
  filter: blur(2px);
  -webkit-filter: blur(2px);
  z-index: 1;
}

.mainContainer {

  position: relative;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
  z-index: 2;
}

/* Navigation bar */
.NavigationBar {
  display: flex;
  margin: 0vw;
  /* box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2); */
  position: relative;
  z-index: 2;
}

ul {
  list-style-type: none;
  /* margin-left: 2vw; */
  margin-top: 0vw;
  padding: 0;
  overflow: hidden;
  display: flex;
  width: 100%;
  justify-content: center;
}

li {
  float: left;

}

li a, .dropbtn {

  display: inline-block;
  color: rgb(247 235 212);
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  font-family: "century gothic", sans-serif;
  transition: 0.7s;
  font-size: 1.1vw;
  z-index: 2;
}

li a:hover, .dropdown:hover .dropbtn {
  color: white;
}

li.dropdown {
  display: inline-block;
    margin: 1vw;
    border-radius: 0.3vw;
    z-index: 2;
    border: solid rgb(245, 122, 122);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(245, 122, 122);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-content a {
  color: black;
  padding: 8px 14px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 0vw;
}

.dropdown-content a:hover {
  background-color: rgb(247 235 212);
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.contentTitle {
  font-family: "century gothic", sans-serif;
  padding-left: 1vw;
  font-size: 1.2vw;
  margin-top: 1vw;
  margin-bottom: 0.5vw;
  margin-left: 0vw;
}

/* Introduction */
#Container {
  /* background-color: rgb(103, 108, 126, 0.3); */
  display: table;
  margin: auto;
  width: 100%;
  position: relative;
  z-index: 1;
}

.row1 {
  display: flex;
  margin-top: 0vw;
  margin-left: 7vw;
  margin-right: 7vw;
  margin-bottom: 7vw;
  padding: 1vw;
  position: relative;
  z-index: 2;

}

.innerRow1 {
  width: 100%;
  position: relative;
  margin-top: 4vw;
  display: flex;
}

.projectTitle {
  color: black;
  text-align: left;
  padding: 0.2vw;
  text-decoration: none;
  font-family: "century gothic", sans-serif;
  font-size: 1.2vw;
  line-height: 1.5vw;
}

.projectItems {
  color: black;
  text-align: left;
  padding: 0.2vw;
  text-decoration: none;
  font-family: "century gothic", sans-serif;
  font-size: 1.2vw;
  line-height: 2.5vw;
}

#rowTitle {
  color: rgb(71 246 230);
  text-align: center;
  text-decoration: none;
  font-family: "century gothic", sans-serif;
  transition: 0.7s;
  font-size: 2vw;
  margin-top: 7vw;
}


.column, .column1, .column2 {
  background-color: rgb(247 235 212);
  width: 100%;
  display: inline-table;
  left: 0;
  right: 0;
  margin: 1vw;
  padding: 2vw;
  padding-top: 1vw;
  box-shadow: 0 2px 19px 6px rgba(0, 0, 0, 0.2);

}

.column2 {
  width: 26%;
}
.sectionTitle {
  text-align: left;
  padding: 1vw;
  color: rgb(245, 122, 122);
  text-decoration: none;
  font-family: "Abel", sans-serif;
  transition: 0.7s;
  font-size: 1.35vw;
  margin-top: 0vw;
  margin-bottom: 0vw;
  width: 100%;
  position: absolute;
}

.linksTitle {
  text-align: left;
  padding-left: 0.5vw;
  color: black;
  text-decoration: none;
  font-family: "abel", sans-serif;
  font-size: 1vw;
}
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Karla:wght@700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Karla:wght@400;700&family=Lobster&family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Catamaran:wght@700&family=Karla:wght@400;700&family=Lobster&family=Open+Sans+Condensed:wght@300&display=swap');

#title {
  font-family: 'Century gothic', sans-serif;
  line-height: 1.5;
  font-size: 3vw;
  font-weight: 500;
  color: rgb(71 246 230);
  text-align: left;
  margin: 5vw;
  position: relative;
  z-index: 2;
}


.copyrights {
  font-family: 'century gothic', sans-serif;
  text-align: center;
  font-size: 1.3vw;
  font-weight: normal;
  color: black;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  width: 100%;
  background-color: rgb(245, 122, 122);
  position: absolute;
  z-index: 2;
}
